* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

*:focus {
  outline: none;
}

html {
  font-size: 20px;
  font-family: monospace;
  font-weight: 300;
}

.clearfix::after {
  display: table;
  clear: both;
  content: "";
}

.row {
  width: 500px;
  height: 100vh;
  padding: 30px 10px 20px;
  background-color: #677f8d;
  margin: auto auto;
  border-radius: 10px;
}

.box {
  padding-top: 10px;
}

.box-input {
  width: 100%;
  padding: 0 30px 50px;
  height: 140px;
  border: none;
  background-color: #e7e9eb;
  border-radius: 10px;
  text-align: right;
}

.buttons {
  text-transform: uppercase;
  margin-top: 10px;
}

.btn div {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  width: 100%;
  width: 60px;
  padding: 15px 0;
  box-shadow: 2px 2px 5px #606061;
  transition: background-color 0.5s;
}
.btn-group {
  margin-top: 10px;
}

.btn-red,
.btn-blue,
.btn-yellow,
.btn-blue2,
.btn-green {
  border-radius: 10px;
}

.btn-red {
  background-color: #e9422c;
}
.btn-yellow {
  background-color: #f1b91f;
}
.btn-blue2 {
  background-color: #312dff;
}
.btn-green {
  background-color: #2ce936;
}
.btn-white {
  background-color: #fffdfd;
  border-radius: 50%;
}

.btn-green {
  background-color: #32ca25;
}
.btn-gray {
  background-color: #8c968b;
}
.btn-blue {
  background-color: #258dca;
}

.btn-yellow2 {
  background-color: #c9f01e;
}

.btn-perc {
  background-color: #f01ec2;
}

.btn-square {
  border-radius: 5px;
}

.btn-full div {
  padding: 13px 0;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.5s;
}

.btn-full {
  width: 38%;
}

.btn-full-20 {
  width: 20%;
}

.btn div:hover {
  background-color: #a1a1a0;
}

.btn div:active {
  position: relative;
  top: 2px;
}

.btn-full div:hover {
  background-color: #969695;
}

.btn-full div:active {
  position: relative;
  top: 2px;
}

@media only screen and (max-width: 480px) {
  .row {
    width: 100%;
  }

  .col {
    width: 20%;
  }

  .btn div {
    width: 80%;
  }
  .btn-full {
    width: 38%;
    margin-left: 4px;
  }

  .btn-full-20 {
    width: 20%;
    margin-left: 6px;
  }
}
